img {
  border-radius: 1rem;
  box-shadow: 0 0 1rem gray;
  animation: 1s ease-out 0s 1 slideDown;
}

.aboutme {
  animation: 1s ease-out 0s 1 slideUp;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  padding: 1rem;
  padding-top: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
