.headshot {
  border-radius: 1rem;
  box-shadow: 0 0 1rem gray;
  animation: 1s ease-out 0s 1 slideDown;
}

.aboutme {
  padding: 1rem;
  animation: 1s ease-out 0s 1 slideUp;
  padding-top: 0;
  text-align: center;
}
