* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 3px rgb(54, 54, 54);
    text-align: center;
}
h5 {
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.smoothcorner {
    border-radius:25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.left {
    display: block;
    margin-left: auto;
    margin-right: 20px;
}

  #background_img {
    display: block;
    background: url(earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: top;
  }

  .bottom_left_icons {
    display: flex;
    justify-content:space-between;
    bottom: 5px;
    left: 5px;
    position: fixed;
}

.top_left_icons {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 36px;
    left: 30px;
}

.top_middle {
    display: block;
    margin-top: 25px;
    padding-top: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.445);
}

a {
    color: black;
}

.inline-block {
    display: inline-block;
 }