
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 3px rgb(54, 54, 54);
    text-align: center;
}
h5 {
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.smoothcorner {
    border-radius:25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #background_img {
    display: block;
    background: url(snowy_landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
  }

  #top_banner {
    display: block;
    background: rgb(239, 255, 253);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
  }

  .bottom_left_icons {
    display: flex;
    justify-content:space-between;
    bottom: 5px;
    left: 5px;
    position: fixed;
}

.top_left_icons {
    display: flex;
    justify-content: space-between;
    top: 35px;
    left: 35px;
    position: fixed;
}

a {
    color: black;
}

.inline-block {
    display: inline-block;
 }

 .nav-links {
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .nav-links li {
     display: inline-block;
     border-radius: 0px;
     padding: 12px;
     padding-top: 0px;
     padding-bottom: 0px;
     background-color: white;
     border-radius: 20px;
     border-style: outset;
     border-width: 4px;
     border-color: rgb(118, 193, 255);
 }

 .nav-links li a { 
     color:rgb(0, 0, 0);
     font-size: 40px;
     font-weight: bold;
     transition: all 0.5 ease 0s;
     text-decoration: none;
 }
.nav-links li a:hover {
    color:rgb(83, 83, 83)
}