
html {
    font-family: 'Tahoma';
}

* {
    margin: 0;
    padding: 0;
  }

h1 {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 3px rgb(54, 54, 54);
    text-align: center;
}
h5 {
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.smoothcorner {
    border-radius:25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #background_img {
    display: block;
    background: url(snowy_landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
  }

  .icons {
    display: flex;
    justify-content:space-between;
    bottom: 5px;
    left: 5px;
    position: fixed;
}

a {
    color: black;
}

.inline-block {
    display: inline-block;
 }

 .nav-links {
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .nav-links li {
     display: inline-block;
     color: rgb(54, 54, 54);
     border-radius: 8px;
     padding: 5px;
     background-color: rgb(205, 255, 255);
 }

 .nav-links li a { 
     font-family: sans-serif;
     font-size: 20px;
     transition: all 0.5 ease 0s;
     text-decoration: none;
 }
.nav-links li a:hover {
    color:rgb(102, 102, 102)
}