html {
    font-family: 'Tahoma';
}

h1 {
    text-align: center;
    font-size: 40px;
    color: black;
}

.smoothcorner {
    border-radius:25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #background_img {
    display: block;
    background: url(snowy_landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
  }